<!-- Body Contents Start -->
<div class="main-area light-bg section-padding">
	<div class="container">
		<div class="row text-center">
			<div class="col-xs-12">
				<div class="section-title">
					<h1>비선호 원료 선택</h1>
					<div class="row pt-20">
						<p>좋아하지 않는 원료가 있나요? 있다면 선택해 주세요. (1개 선택, 스킵 가능)</p>
					</div>
					<div class="horizontal-line ptb-20">
						<div></div>
					</div>
					<!-- Ingredient Section Start -->
					<form action="#" method="post" id="indiForm">
						<div class="ingre-area ingre-five four-style4 light-bg section-padding clearfix">
							<div class="btn mb-30 btn_prev">이전</div>
							<div class="btn mb-30 btn_save">다음으로</div>

							<div class="container-fluid no-padding">
								<div class="row">
									<div class="col-xs-12">
										<div class="ingre-grid fitRows-grid hover-1">
											{{# each ingredients }}
												<div class="grid-item work3d print percent-25">
													<label for="{{ name }}">
														<div class="single-ingre overlay light-2">
															<img src="{{ imagePath }}" alt="{{ name }}" />
														</div>
														<div class="project-title text-center">
															<h4 class="mb-15">{{ name }}<h5 class="mb-5">{{ theme }} 계열</h5></h4>
															<hr class="line"/>
														</div>
													</label>
													<input id="{{ name }}" class="btn_inputs" type="checkbox" name="hate_ingre" value="{{ name }}" />
												</div>
											{{/each}}
										</div>
									</div>
								</div>
							</div>

							<div class="btn mt-30 btn_prev">이전</div>
							<div class="btn mt-30 btn_save">다음으로</div>
						</div>
					</form>
					<!-- Ingredient Section End -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Body Contents End -->

<script>
$(document).ready(function () {
	var nextUrl = './step7';
	var checkLimit = 1;
	$('label').on('click', function () {
		$(this).toggleClass('on');
	});

	$('.btn_prev').on('click', function (e) {
		e.preventDefault();
		window.history.back();
	});

	$('input:checkbox').on('change', function (e) {
	  if($('.btn_inputs:checked').length > checkLimit) {
			alert('최대 1개까지 선택 가능합니다!');
	  	this.checked = false;
			$(this).prev('label').removeClass('on');
	  }
	});

	$('.btn_save').on('click', function () {
		if ($('.btn_inputs:checked').length) {
			saveStep();
		} else {
			$(location).attr('href', nextUrl);
		}
	});

	function saveStep() {
		console.log("Saving form data...");
		var oldData = JSON.parse(localStorage.getItem('form_data')) || {},
				newData = {},
				result = {};
		newData['hate_ingre'] = $('.btn_inputs:checked').map(function () {
															return $(this).val();
														}).get();
		result = $.extend({}, oldData, newData);

		console.log(result);
		localStorage.setItem('form_data', JSON.stringify(result));

		setTimeout(function () {
			$(location).attr('href', nextUrl);
		}, 1000);
	};

	loadStep();

	function loadStep() {
		if(localStorage['form_data'])	{
			console.log("Loading form data...");
			var result = JSON.parse(localStorage['form_data']);
			console.log(result);
			if (result.hate_ingre) {
				$.each(result.hate_ingre, function (i, val) {
					$('.btn_inputs[value=' + val + ']').attr('checked', true);
					$('.btn_inputs[value=' + val + ']').prev('label').addClass('on');
				});
			} else {
				setTimeout(function () {
					$('input[type=checkbox]').attr('checked', false);
				}, 300);
			}
		} else {
			alert('정상적인 경로로 접근해 주세요!');
			$(location).attr('href', './step1');
		}
		return false;
	};
});
</script>
