<!-- Body Contents Start -->
<div class="main-area">
	<div class="container">
		<div class="row text-center">
			<div class="col-xs-12">
				<div class="app_header">
					<div class="tit">
						<h1>향수 원료 선택</h1>
						<p>당신이 향수에 넣고 싶은 원료 3가지를 선택해 주세요.</p>
					</div>
					<!-- //.tit -->
					<a href="./step6" class="btn_save">
						<p class="count"><span class="cnt">0</span> / 3</p> 다음단계로
					</a>
					<!-- //.btn_save, .count -->
					<div class="indicator">
						<ul class="inb">
							<li class="done"><span>BASE</span></li>
							<li class="done"><span>THEME 1<span class="aka">Super Like</span></span></li>
							<li class="done"><span>THEME 2<span class="aka">Secondary Like</span></span></li>
							<li class="done"><span>THEME 3<span class="aka">Dislike</span></span></li>
							<li class="current"><span>INGREDIENTS 1<span class="aka">Super Like</span></span></li>
							<li><span>INGREDIENTS 2<span class="aka">Dislike</span></span></li>
							<li><span>INFORMATION</span></li>
						</ul>
					</div>
					<!-- //.indicator -->
					<a href="./step4" class="btn_prev">이전</a>
					<a href="./step1" class="btn_reset">초기화</a>
				</div>
				<!-- //.app_header -->
				<div class="app_body">
					<form action="#" method="post" id="indiForm">
						<div class="app-grid">
							{{# each ingredients }}
								<div class="grid-item ingredient">
									<label for="val{{ no }}">
										<div class="imgs">
											<img src="{{ imagePath }}" alt="{{ name }}" />
										</div>
										<div class="desc">
											<div class="valign">
												<h4 class="name">{{ name }}</h4>
												<hr class="line"/>
												<p class="cate">{{ theme }} 계열</p>
											</div>
										</div>
									</label>
									<input id="val{{ no }}" class="btn_inputs" type="checkbox" name="love_ingre" value="v{{ no }}" data-val-name="{{ name }}" />
								</div>
							{{/each}}
						</div>
					</form>
				</div>
				<!-- //.app_body -->
				<div class="app_footer">
					<a href="./step6" class="btn_save">
						<p class="count"><span class="cnt">0</span> / 3</p> 다음단계로
					</a>
				</div>
				<!-- //.app_footer -->
			</div>
			<!--//.col-xs-12 -->
		</div>
		<!--//.row.text-center -->
	</div>
	<!--//.container -->
</div>
<!-- Body Contents End -->

<script>
$(document).ready(function () {
	var prevUrl = './step4';
	var nextUrl = './step6';
	var checkLimit = 3;
	var ingreArr = ['Bergamot', 'Tangerines', 'Currant', 'Plums', 'Raspberry', 'Freesia', 'Mimosa', 'Pioney', 'Star Magnolie', 'Tulip', 'Violet Green', 'Marine', 'Leafy Green', 'Phytoncide', 'Sandalwood', 'White Musk'];
	$('label').on('click', function (e) {
		if ($(this).hasClass('off')) {
			e.preventDefault();
		} else {
			$(this).toggleClass('on');
		}
	});

	$('.btn_prev').on('click', function (e) {
		e.preventDefault();
		saveStep('prev');
	});

	$('input:checkbox').on('change', function (e) {
	  if($('.btn_inputs:checked').length > checkLimit) {
			alert('3개까지 선택 가능합니다!');
	  	this.checked = false;
			$(this).prev('label').removeClass('on');
	  } else {
			checkPass();
		}
	});

	$('.btn_save').on('click', function (e) {
		e.preventDefault();
		if ($('.btn_inputs:checked').length == checkLimit) {
			saveStep('next');
		} else {
			alert('향수에 넣고 싶은 원료 3가지를 선택해 주세요!');
		}
	});

	$('.btn_reset').on('click', function (e) {
		e.preventDefault();
		if (localStorage['form_data']) {
			var isConfirmed = confirm('정말 선택사항을 초기화 하시겠어요?');
			if (isConfirmed) {
				localStorage.removeItem('form_data');
				window.location.href = './step1';
			}
		} else {
			alert('저장된 데이터가 없습니다. 베이스 향을 먼저 선택해 주세요!');
		}
	});

	function saveStep (type) {
		console.log("Saving form data...");
		var oldData = JSON.parse(localStorage.getItem('form_data')) || {},
				newData = {},
				result = {};
		newData['love_ingre'] = $('.btn_inputs:checked').map(function () {
															return $(this).attr('data-val-name');
														}).get();
		result = $.extend({}, oldData, newData);

		console.log(result);
		localStorage.setItem('form_data', JSON.stringify(result));

		setTimeout(function () {
			if (type == 'next') {
				window.location.href = nextUrl;
			} else {
				window.location.href = prevUrl;
			}
		}, 1000);
	};

	loadStep();

	function loadStep () {
		if (localStorage['form_data']) {
			console.log("Loading form data...");
			var result = JSON.parse(localStorage['form_data']);
			console.log(result);
			if (result.hate_ingre) {
				$.each(result.hate_ingre, function (i, val) {
					$.each(ingreArr, function (j, val2) {
						if (val == val2) {
							$('.btn_inputs[value=v' + parseInt(j+1) + ']').prev('label').addClass('off');
						}
					});
				});
			}
			if (result.love_ingre) {
				$.each(result.love_ingre, function (i, val) {
					$.each(ingreArr, function (j, val2) {
						if (val == val2) {
							$('.btn_inputs[value=v' + parseInt(j+1) + ']').attr('checked', true);
							$('.btn_inputs[value=v' + parseInt(j+1) + ']').prev('label').addClass('on');
						}
					});
				});
				checkPass();
			} else {
				setTimeout(function () {
					$('input[type=checkbox]').attr('checked', false);
				}, 300);
			}
		} else {
			alert('베이스 향을 먼저 선택해 주세요!');
			$(location).attr('href', './step1');
		}
		return false;
	};

	function checkPass () {
		setTimeout(function () {
			if ($('.btn_inputs:checked').length == checkLimit) {
				$('.btn_save').addClass('pass');
			} else {
				$('.btn_save').removeClass('pass');
			}
			$('.btn_save .cnt').text($('.btn_inputs:checked').length);
		}, 100);
	};
});
</script>
