<!-- Body Contents Start -->
<div class="main-area">
	<div class="container">
		<div class="row text-center">
			<div class="col-xs-12">
				<div class="app_header">
					<div class="tit">
						<h1>비선호 향기 선택</h1>
						<p>가장 피하고 싶은 향기는 어떤 것인가요? (2개 선택, 스킵 가능)</p>
					</div>
					<!-- //.tit -->
					<a href="./step5" class="btn_save pass">
						<p class="count"><span class="cnt">0</span> / 2</p> 다음단계로
					</a>
					<!-- //.btn_save, .count -->
					<div class="indicator">
						<ul class="inb">
							<li class="done"><span>BASE</span></li>
							<li class="done"><span>THEME 1<span class="aka">Super Like</span></span></li>
							<li class="done"><span>THEME 2<span class="aka">Secondary Like</span></span></li>
							<li class="current"><span>THEME 3<span class="aka">Dislike</span></span></li>
							<li><span>INGREDIENTS 1<span class="aka">Super Like</span></span></li>
							<li><span>INGREDIENTS 2<span class="aka">Dislike</span></span></li>
							<li><span>INFORMATION</span></li>
						</ul>
					</div>
					<!-- //.indicator -->
					<a href="./step3" class="btn_prev">이전</a>
					<a href="./step1" class="btn_reset">초기화</a>
				</div>
				<!-- //.app_header -->
				<div class="app_body">
					<form action="#" method="post" id="indiForm">
						<div class="app-grid">
							{{# each themes }}
								<div class="grid-item theme">
									<label for="{{ name }}">
										<div class="imgs">
											<img src="{{ imagePath }}" alt="{{ name }}" />
										</div>
										<div class="desc">
											<div class="valign">
												<h4 class="name">{{ name }}</h4>
											</div>
										</div>
									</label>
									<input id="{{ name }}" class="btn_inputs" type="checkbox" name="hate_theme" value="{{ name }}" />
								</div>
							{{/each}}
						</div>
					</form>
				</div>
				<!-- //.app_body -->
				<div class="app_footer">
					<a href="./step5" class="btn_save pass">
						<p class="count"><span class="cnt">0</span> / 2</p> 다음단계로
					</a>
				</div>
				<!-- //.app_footer -->
			</div>
			<!--//.col-xs-12 -->
		</div>
		<!--//.row.text-center -->
	</div>
	<!--//.container -->
</div>
<!-- Body Contents End -->

<script>
$(document).ready(function () {
	var prevUrl = './step3';
	var nextUrl = './step5';
	var checkLimit = 2;
	$('label').on('click', function (e) {
		if ($(this).hasClass('off')) {
			e.preventDefault();
		} else {
			$(this).toggleClass('on');
		}
	});

	$('.btn_prev').on('click', function (e) {
		e.preventDefault();
		saveStep('prev');
	});

	$('input:checkbox').on('change', function (e) {
	  if($('.btn_inputs:checked').length > checkLimit) {
			alert('최대 2개까지 선택 가능합니다!');
	  	this.checked = false;
			$(this).prev('label').removeClass('on');
	  } else {
			checkPass();
		}
	});

	$('.btn_save').on('click', function (e) {
		e.preventDefault();
		saveStep('next');
	});

	$('.btn_reset').on('click', function (e) {
		e.preventDefault();
		if (sessionStorage['form_data']) {
			var isConfirmed = confirm('정말 선택사항을 초기화 하시겠어요?');
			if (isConfirmed) {
				sessionStorage.removeItem('form_data');
				window.location.href = './step1';
			}
		} else {
			alert('저장된 데이터가 없습니다. 베이스 향을 먼저 선택해 주세요!');
		}
	});

	function saveStep (type) {
		console.log("Saving form data...");
		var oldData = JSON.parse(sessionStorage.getItem('form_data')) || {},
				newData = {},
				result = {};
		newData['hate_theme'] = $('.btn_inputs:checked').map(function () {
									return $(this).val();
								}).get();
		result = $.extend({}, oldData, newData);

		console.log(result);
		sessionStorage.setItem('form_data', JSON.stringify(result));

		setTimeout(function () {
			if (type == 'next') {
				window.location.href = nextUrl;
			} else {
				window.location.href = prevUrl;
			}
		}, 1000);
	};

	loadStep();

	function loadStep () {
		if (sessionStorage['form_data']) {
			console.log("Loading form data...");
			var result = JSON.parse(sessionStorage['form_data']);
			console.log(result);
			if (result.love_theme_first) {
				$('.btn_inputs[value=' + result.love_theme_first + ']').prev('label').addClass('off');
			}
			if (result.love_theme_second) {
				$('.btn_inputs[value=' + result.love_theme_second + ']').prev('label').addClass('off');
			}
			if (result.hate_theme) {
				$.each(result.hate_theme, function (i, val) {
					$('.btn_inputs[value=' + val + ']').attr('checked', true);
					$('.btn_inputs[value=' + val + ']').prev('label').addClass('on');
				});
				checkPass();
			} else {
				setTimeout(function () {
					$('input[type=checkbox]').attr('checked', false);
				}, 300);
			}
		} else {
			alert('베이스 향을 먼저 선택해 주세요!');
			$(location).attr('href', './step1');
		}
		return false;
	};

	function checkPass () {
		setTimeout(function () {
			if ($('.btn_inputs:checked').length <= checkLimit) {
				$('.btn_save').addClass('pass');
			} else {
				$('.btn_save').removeClass('pass');
			}
			$('.btn_save .cnt').text($('.btn_inputs:checked').length);
		}, 100);
	};
});
</script>
