<!-- Body Contents Start -->
<div class="main-area section-padding">
	<div class="container">
		<div class="row text-center">
			<div class="col-xs-12">
				<div class="app_header">
					<div class="tit">
						<h1>향기 테마 선택 2</h1>
						<p>두번째로 친숙하게 느끼는 향은 어떤 것인가요?</p>
					</div>
					<!-- //.tit -->
					<div class="count">
						<p>선호 테마 선택 2</p>
						<p><span id="cnt">0</span> / 1</p>
					</div>
					<!-- //.count -->
					<a href="./step4" class="btn_save">다음단계</a>
					<div id="indicator">
						<ul class="inb">
							<li class="done"><a href="./step1">BASE</a></li>
							<li class="done"><a href="./step2">THEME 1</a></li>
							<li class="current"><a href="./step3">THEME 2</a></li>
							<li><a href="./step4">THEME 3</a></li>
							<li><a href="./step5">INGREDIENTS 1</a></li>
							<li><a href="./step6">INGREDIENTS 2</a></li>
							<li><a href="./step7">INFORMATION</a></li>
						</ul>
					</div>
					<!-- //.indicator -->
					<a href="./step2" class="btn_prev">이전</a>
				</div>
				<!-- //.app_header -->
				<div class="app_body">
					<form action="#" method="post" id="indiForm">
						<div class="app-grid">
							{{# each themes }}
								<div class="grid-item theme">
									<label for="{{ name }}">
										<div class="imgs overlay">
											<img src="{{ imagePath }}" alt="{{ name }}" />
										</div>
										<div class="desc">
											<h4 class="name">{{ name }}</h4>
											<hr class="line"/>
										</div>
									</label>
									<input id="{{ name }}" class="btn_inputs" type="radio" name="love_theme_second" value="{{ name }}" />
								</div>
							{{/each}}
						</div>
					</form>
				</div>
				<!-- //.app_body -->
			</div>
			<!--//.col-xs-12 -->
		</div>
		<!--//.row.text-center -->
	</div>
	<!--//.container -->
</div>
<!-- Body Contents End -->

<script>
$(document).ready(function () {
	var prevUrl = './step2';
	var nextUrl = './step4';
	$('label').on('click', function (e) {
		if ($(this).hasClass('off')) {
			e.preventDefault();
		} else {
			$('label').removeClass('on');
			$(this).addClass('on');
		}
	});

	$('.btn_prev').on('click', function (e) {
		e.preventDefault();
		saveStep('prev');
	});

	$('.btn_save').on('click', function (e) {
		e.preventDefault();
		if ($('.btn_inputs').is(':checked')) {
			saveStep('next');
		} else {
			alert('두번째로 친숙하게 느끼는 향을 선택해 주세요!');
		}
	});

	function saveStep (type) {
		console.log("Saving form data...");
		var oldData = JSON.parse(localStorage.getItem('form_data')) || {},
				newData = JSON.parse($("#indiForm").toJSON()),
				result = {};
		result = $.extend({}, oldData, newData);

		console.log(result);
		localStorage.setItem('form_data', JSON.stringify(result));

		setTimeout(function () {
			if (type == 'next') {
				window.location.href = nextUrl;
			} else {
				window.location.href = prevUrl;
			}
		}, 1000);
	};

	loadStep();

	function loadStep () {
		if(localStorage['form_data'])	{
			console.log("Loading form data...");
			var result = JSON.parse(localStorage['form_data']);
			console.log(result);
			if (result.love_theme_first) {
				$('.btn_inputs[value=' + result.love_theme_first + ']').prev('label').addClass('off');
			}
			if (result.hate_theme) {
				$.each(result.hate_theme, function (i, val) {
					$('.btn_inputs[value=' + val + ']').prev('label').addClass('off');
				});
			}
			if (result.love_theme_second) {
				var val = result.love_theme_second;
				$('.btn_inputs[value=' + val + ']').attr('checked', true);
				$('.btn_inputs[value=' + val + ']').prev('label').addClass('on');
			} else {
				setTimeout(function () {
					$('input[type=radio]').attr('checked', false);
				}, 300);
			}
		} else {
			alert('베이스 향을 먼저 선택해 주세요!');
			$(location).attr('href', './step1');
		}
		return false;
	};
});
</script>
